<p-sidebar position="right" styleClass="rounded-xl w-[40%] h-[98%] mt-3 mr-3 h-5/6" [dismissible]="!$editMode()" [showCloseIcon]="!$editMode()" [(visible)]="$sidebarVisible" (onHide)="onHideSidebar()">
    <ng-template pTemplate="header">
        @if($editMode()){
            <div class="flex w-full flex-row justify-end gap-4">
                <p-button label="Save" [disabled]="$detailEditTask().title?.length === 0 || ($detailEditTask().title ?? '').length > 20" (onClick)="onClickSaveTask()"></p-button>
                <p-button label="Cancel" [outlined]="true" (onClick)="onClickCloseSidebar()"></p-button>
            </div>
        }@else {
            <div class="flex">
                 <p-menu #menu appendTo="body" [model]="detailTaskItems" [popup]="true"></p-menu>
                 <p-button icon="pi pi-ellipsis-h" [text]="true" (onClick)="menu.toggle($event)"></p-button>
            </div>
        }
    </ng-template>
    <div class="flex flex-col gap-7">
        <div class="flex flex-row gap-3">
            <div class="flex w-36 flex-row items-center gap-2">
                <i class="pi pi-circle text-xl text-slate-400"></i>
                <p class="text-slate-500">Title</p>
            </div>
            <div class="flex flex-1 flex-row items-center">
                @if($editMode()){
                    <div class="flex w-full flex-col">
                        <input pInputText placeholder="Task Name" class="w-full text-xl" [(ngModel)]="$detailEditTask().title" />
                        @if(($detailEditTask().title ?? '').length > 20){
                            <small class="text-red-700">20文字以内で入力してください</small>
                        }
                    </div>
                }@else {
                    <h2 class="truncate text-xl font-medium">{{ $detailTask().title?.length !== 0 ? $detailTask().title: 'No Title Data' }}</h2>
                }
            </div>
        </div>

        <div class="flex flex-row items-center gap-3">
            <div class="flex w-36 flex-row items-center gap-2">
                <i class="pi pi-bullseye text-xl text-slate-400"></i>
                <p class="text-slate-500">Status</p>
            </div>
            <div class="flex flex-1 flex-row items-center gap-2">
                <p class="h-[1.5rem] w-[1.5rem]" [class]="taskStatusColor[$detailTask().status ?? 'Progress']"></p>
                <p class="font-medium">{{ $detailTask().status }}</p>
            </div>
        </div>

        <div class="flex flex-row items-center gap-3">
            <div class="flex w-36 flex-row items-center gap-2">
                <i class="pi pi-calendar text-xl text-slate-400"></i>
                <p class="text-slate-500">Due Date</p>
            </div>
            <div class="flex flex-1 flex-row items-center gap-3">
                @if($editMode()){
                    <p-calendar appendTo="body" [readonlyInput]="true" [(ngModel)]="$detailEditTask().startDate"></p-calendar>
                    <p class="text-xl">〜</p>
                    <p-calendar appendTo="body" [readonlyInput]="true" [(ngModel)]="$detailEditTask().endDate"></p-calendar>
                }@else {
                    <p class="text-lg font-medium">{{ $detailTask().startDate | date:'dd MMM yyyy' }}</p>
                    <p class="text-xl">〜</p>
                    <p class="text-lg font-medium">{{ $detailTask().endDate | date:'dd MMM yyyy' }}</p>
                }
            </div>
        </div>

        <div class="flex flex-row items-center gap-3">
            <div class="flex w-36 flex-row items-center gap-2">
                <i class="pi pi-tag text-xl text-slate-400"></i>
                <p class="text-slate-500">Tags</p>
            </div>
            <div class="flex flex-1 flex-row items-center">
                @if($editMode()){
                    <p-multiSelect class="w-full" styleClass="w-full" optionLabel="name" [options]="tags" [(ngModel)]="$detailEditTask().tags"></p-multiSelect>
                }@else {
                    @if(($detailTask().tags?? []).length > 0){
                        <div class="flex flex-row flex-wrap gap-4">
                            @for(tag of $detailTask().tags; let i = $index; track i){
                                <p-tag styleClass="px-3 py-1" [value]="tag.name"></p-tag>
                            }
                        </div>
                    }@else {
                        <p-tag styleClass="font-semibold px-3 py-1" value="No Tags" severity="secondary"></p-tag>
                    }
                }
            </div>
        </div>

        <div class="flex flex-row items-center gap-3">
            <div class="flex w-36 flex-row items-center gap-2">
                <i class="pi pi-users text-xl text-slate-400"></i>
                <p class="text-slate-500">Assignee</p>
            </div>
            <div class="flex flex-1 flex-row items-center">
                <p-chip styleClass="pl-0 pr-3">
                    <span class="flex h-[2rem] w-[2rem] items-center justify-center rounded-full bg-indigo-300">
                        {{ $user().label }}
                    </span>
                    <span class="ml-1 font-medium">
                        {{ $user().username }}
                    </span>
                </p-chip>
            </div>
        </div>

        <div class="flex flex-col gap-3">
            <div class="flex flex-row items-center gap-3">
                <i class="pi pi-book text-xl text-slate-400"></i>
                <p class="text-slate-500">Description</p>
                <p-tag styleClass="font-semibold px-3 py-1" severity="danger" pTooltip="バグが発生する可能性があります" value="Developer PreView"></p-tag>
            </div>
            @if($editMode()){
                <p-tabView>
                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <div class="flex items-center gap-2">
                                <p>Edit</p>
                            </div>
                        </ng-template>
                        <textarea 
                            class="w-full text-base"
                            pInputTextarea
                            [autoResize]="true"
                            [(ngModel)]="$detailEditTask().description">
                        </textarea>
                    </p-tabPanel>
                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <div class="flex items-center gap-2">
                                <p>Preview</p>
                            </div>
                        </ng-template>
                        <div class="h-auto rounded-lg border border-slate-300">
                            <div class="px-[9px] py-[6px]" [innerHTML]="($detailEditTask().description ?? '') | markdown"></div>
                        </div>
                        <div>{{ $detailEditTask().description ?? '' | markdown}}</div>
                    </p-tabPanel>
                </p-tabView>
            }@else{
                <div class="h-auto min-h-20 rounded-lg border border-slate-300">
                    <div class="markdown-content px-[9px]" [innerHTML]="($detailTask().description ?? '') | markdown"></div>
                </div>
            }
        </div>
        
        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex items-center gap-2">
                        <p>SubTasks</p>
                    </div>
                </ng-template>
                <div>
                    <p>Comming Soon : Sub Tasks</p>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex items-center gap-2">
                        <p>Comments</p>
                    </div>
                </ng-template>
                <div>
                    <p>Comming Soon : Comments</p>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <div class="flex items-center gap-2">
                        <p>History</p>
                    </div>
                </ng-template>
                <div>
                    <p>Comming Soon : History</p>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</p-sidebar>