<p-toast />

<div class="h-screen w-screen">
    <!-- ヘッダー -->
    <!-- <div class="h-16 px-3"></div> -->
    <!-- メインコンテンツ -->
    <div class="flex h-full flex-row bg-gradient-to-r from-[#c0f2f4] to-[#ABBEE0]">
        <!-- 休眠 -->
        <!-- <div class="h-full border-r" [@sidebarAnimation] = " $isOpenTaskStatusSidebar() ? 'open':'close' ">
            <div class="gap-4 px-5 pt-5">
                <div clss="flex flex-col gap-2">
                    <h4 class="pb-4">Task Ratio</h4>
                    <p-meterGroup labelOrientation="vertical" [value]="$statusMeterItems()" [max]="$tasks().length"></p-meterGroup>
                </div>
                <div clss="flex flex-col gap-2">
                    <h4 class="pb-4">Tags Ratio</h4>
                    <p-meterGroup labelOrientation="vertical" [value]="$tagsMeterItems()" [max]="$tagsMeterItems().length"></p-meterGroup>
                </div>
            </div>
        </div> -->
        <div class="h-full w-full px-14 pt-1">
            <div class="flex w-full items-center justify-between pb-1">
                <div class="flex flex-col">
                    <p-button icon="pi pi-align-left" severity="secondary" [rounded]="true" [text]="true" (onClick)="onClickIsOpenTaskStatusSidebar()"></p-button>
                    <h1 class="font-semibold">Tasks</h1>
                </div>
                <div class="flex gap-2">
                    <p-avatar [style]="$user().style" [label]="$user().label" [size]="$user().size" [shape]="$user().shape"></p-avatar>
                </div>
            </div>
            <div class="grid grid-cols-4 gap-8">
                @for(status of taskStatus;let i = $index; track i){
                    <div class="flex h-full flex-col">
                        <div class="flex items-center justify-between pb-5">
                            <h4 class="font-medium">{{ status }}</h4>
                            <p-button styleClass="text-xl" icon="pi pi-plus" severity="secondary" [rounded]="true" [text]="true" (onClick)="onClickShowAddTask(status)"></p-button>
                        </div>
                        <div class="scrollbar h-[calc(100vh-180px)] overflow-auto rounded-b-2xl">
                            @for(editTask of $editingTasks()|keyvalue;track editTask.key){
                                @if(editTask.value.status === status){
                                    <div class="mb-5 flex flex-col gap-3 rounded-2xl bg-white px-4 pt-4">
                                        <textarea
                                            style="resize: none;"
                                            pInputTextarea
                                            placeholder="What is the Task?"
                                            [(ngModel)]="editTask.value.description"
                                        >
                                        </textarea>
                                        <div class="flex w-full flex-row items-center gap-2">
                                            <i class="pi pi-tag text-slate-400"></i>
                                            <p-multiSelect 
                                                class="w-full"
                                                styleClass="w-full"
                                                optionLabel="name" 
                                                placeholder="Select Tags"
                                                [options]="tags"
                                                [(ngModel)]="editTask.value.tags"
                                            />
                                        </div>
                                        <p-divider />
                                        <div class="flex flex-row items-center justify-between gap-2">
                                            <div class="flex w-full flex-row items-center justify-center gap-2 text-slate-400">
                                                <p-floatLabel class="w-full">
                                                    <p-calendar class="w-full" styleClass="w-full" appendTo="body"   [(ngModel)]="editTask.value.startDate" />
                                                    <label for="endDate">Start Date</label>
                                                </p-floatLabel>   
                                            </div>
                                            <div class="flex w-full flex-row items-center justify-center gap-2 text-slate-400">
                                                <p-floatLabel class="w-full">
                                                    <p-calendar class="w-full" styleClass="w-full" appendTo="body"   [(ngModel)]="editTask.value.endDate" />
                                                    <label for="endDate">End Date</label>
                                                </p-floatLabel>    
                                            </div>
                                        </div>
                                        <div class="flex flex-row items-center justify-end gap-2 pb-2">
                                            <p-button size="small" [outlined]="true" (onClick)="onClickCancelEditingTask(editTask.value.id)">
                                                <div>
                                                    <p>cancel</p>
                                                </div>
                                            </p-button>
                                            <p-button size="small" [disabled]="editTask.value.description.length === 0" [outlined]="true" (onClick)="onClickSaveTask(editTask.value.id)">
                                                <div>
                                                    <p>Save</p>
                                                </div>
                                            </p-button>
                                        </div>
                                    </div>
                                }
                            }
                            @for(task of $tasks();let j = $index; track j){
                                @if(task.status === status){
                                    <div class="mb-5 flex flex-col gap-3 rounded-2xl bg-white px-4 pt-4">
                                        <div class="flex flex-row gap-2">
                                            @for(tag of task.tags;let k=$index; track k){
                                                <p-tag [styleClass]="task.tagStyleClass" [rounded]="true" [value]="tag.name"></p-tag>
                                            }
                                        </div>
                                        <p class="text-sm">{{task.description}}</p>
                                        <div class="flex items-center justify-between">
                                            <div>
                                                <div class="flex flex-row items-center justify-center gap-2 text-xs text-slate-400">
                                                    <i class="pi pi-flag"></i>
                                                    <p>{{task.endDate | date:'MMM d'}}</p>
                                                </div>
                                            </div>
                                            <p-avatarGroup>
                                                @for(avatar of task.members;let k=$index; track k){
                                                    <p-avatar [style]="avatar.style" [label]="avatar.label" [shape]="avatar.shape"></p-avatar>
                                                }
                                            </p-avatarGroup>
                                        </div>
                                        <div class="flex flex-row items-center justify-end">
                                            @if(status !== 'Ready'){
                                                <p-button size="small" icon="pi pi-angle-left" severity="secondary" [rounded]="true" [text]="true"></p-button>
                                            }
                                            @if(status !== 'Done'){
                                                <p-button size="small" icon="pi pi-angle-right" severity="secondary" [rounded]="true" [text]="true"></p-button>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>