<div class="h-screen w-screen">
    <!-- ヘッダー -->
    <!-- <div class="h-16 px-3"></div> -->
    <!-- メインコンテンツ -->
    <div class="flex h-full flex-row bg-gradient-to-r from-[rgba(241,242,255,1)] to-[rgba(255,247,252,1)]">
        <div class="h-full w-1/4 border-r" [@sidebarAnimation] = " isOpenTaskStatusSidebar() ? 'open':'close' ">
            <p-button icon="pi pi-align-left" severity="secondary" [rounded]="true" [text]="true" (onClick)="onClickIsOpenTaskStatusSidebar()"></p-button>
            <div class="px-5">
                <p-meterGroup styleClass="pt-4" [value]="meterItems" labelOrientation="vertical" [max]="tasksData.length"></p-meterGroup>
            </div>
        </div>
        @if(!isOpenTaskStatusSidebar()){
            <p-button icon="pi pi-align-left" severity="secondary" [rounded]="true" [text]="true" (onClick)="onClickIsOpenTaskStatusSidebar()"></p-button>
        }
        <div class="h-full w-full px-14 pt-1">
            <div class="flex w-full items-center justify-between pb-10">
                <h1 class="font-bold">Tasks</h1>
                <div class="flex gap-2">
                    @for(avatar of mockDataAvatars;let index = $index; track index){
                        <p-avatar [style]="avatar.style" [label]="avatar.label" [size]="avatar.size" [shape]="avatar.shape"></p-avatar>
                    }
                </div>
            </div>
            <div class="grid grid-cols-4 gap-8">
                @for(status of taskStatus;let i = $index; track i){
                    <div class="flex h-full flex-col">
                        <div class="flex items-center justify-between pb-5">
                            <h4 class="font-medium">{{ status }}</h4>
                            <i class="pi pi-ellipsis-h text-xl opacity-60 hover:opacity-100"></i>
                        </div>
                        <div class="scrollbar h-[calc(100vh-150px)] overflow-auto">
                            @for(task of tasksData;let j = $index; track j){
                                @if(task.status === status){
                                    <div class="mb-5 flex flex-col gap-3 rounded-2xl bg-white p-4 shadow-lg shadow-slate-100">
                                        <div class="flex flex-row gap-2">
                                            @for(tag of task.tags;let k=$index; track k){
                                                <p-tag [styleClass]="task.tagStyleClass" [rounded]="true" [value]="tag"></p-tag>
                                            }
                                        </div>
                                        <p>{{task.title}}</p>
                                        <div class="flex items-center justify-between">
                                            <div>
                                                <div class="flex flex-row items-center justify-center gap-2 text-slate-400">
                                                    <i class="pi pi-flag"></i>
                                                    <p class="text-sm">{{task.endDate | date:'MMM d'}}</p>
                                                </div>
                                            </div>
                                            <p-avatarGroup>
                                                @for(avatar of task.members;let k=$index; track k){
                                                    <p-avatar [style]="avatar.style" [label]="avatar.label" [shape]="avatar.shape"></p-avatar>
                                                }
                                            </p-avatarGroup>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>