<app-detail-task [($sidebarVisible)]="$sidebarVisible" [($editMode)]="$editMode"></app-detail-task>
<div class="dot grid grid-cols-4 gap-8">
    @for(status of taskStatus;let i = $index; track i){
        <div class="flex h-full flex-col">
            <div class="mb-3 flex items-center justify-between  rounded-lg bg-[#f6f7fa] py-1 pl-2">
                <div class="flex flex-row items-center">
                    <p class="h-[1.5rem] w-[1.5rem]" [class]="taskStatusColor[status]"></p>
                    <h4 class="ml-3 font-medium">{{ status }}</h4>
                    <p class="ml-5 aspect-square rounded-sm bg-indigo-100 px-2 text-center font-semibold text-indigo-800">{{ getStatusTaskCnt(status) }}</p>
                </div>
                <p-button class="text-xl" styleClass="text-slate-800" icon="pi pi-plus" severity="secondary"  [rounded]="true" [text]="true" (onClick)="onClickShowSidebar(status,{})"></p-button>
            </div>
            <div class="scrollbar h-[calc(100vh-155px)] overflow-auto rounded-b-2xl" pDroppable (onDrop)="onDropTask(status)">
                @for(task of $tasks();let j = $index; track j){
                    @if(task.status === status){
                        <div class="mb-5 flex flex-col rounded-lg border bg-white p-4 shadow-sm" pDraggable (onDragStart)="onDragStartTask(task)" (onDragEnd)="onDragEndTask()" (click)="onClickShowSidebar(status,task)">
                            <div class="scrollbar mb-2 flex flex-row gap-2 overflow-auto">
                                @if(task.tags.length === 0){
                                    <p-tag styleClass="font-semibold" value="No Tags" severity="secondary"></p-tag>
                                }@else {
                                    @for(tag of task.tags;let k=$index; track k){
                                        <p-tag styleClass="font-semibold" [value]="tag.name"></p-tag>
                                    }
                                }
                            </div>
                            <p class="truncate text-sm">{{task.title}}</p>
                            <p-divider />
                            <div class="flex items-center justify-between">
                                <div>
                                    <div class="flex flex-row items-center justify-center gap-2 text-xs text-slate-400">
                                        <i class="pi pi-flag"></i>
                                        <p>{{task.endDate | date:'MMM d'}}</p>
                                    </div>
                                </div>
                                <p-avatarGroup>
                                    @for(avatar of task.members;let k=$index; track k){
                                        <p-avatar [style]="avatar.style" [label]="avatar.label" [shape]="avatar.shape"></p-avatar>
                                    }
                                </p-avatarGroup>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>